/.idea/*
tecahub/config.php
/tecahub/config.php
/moodle/config.php
/moodle/.idea/*
/tecahub/.idea/*
/UMS/.idea/*
/ums_api/.idea/*
/.idea/Elearning.iml
/.idea/webServers.xml
moodle/config.php
**/node_modules/*
.vs/Elearning/v14/.suo
Elearning.phpproj
/mahara/config.php
/mahara/.idea/*
