timetracker/.gitignore
timetracker/.htaccess
timetracker/.idea/.name
timetracker/.idea/copyright/profiles_settings.xml
timetracker/.idea/encodings.xml
timetracker/.idea/misc.xml
timetracker/.idea/modules.xml
timetracker/.idea/timetracker.iml
timetracker/.idea/workspace.xml
timetracker/README.md
timetracker/WEB-INF/config.php.dist
timetracker/WEB-INF/lib/Auth.class.php
timetracker/WEB-INF/lib/DateAndTime.class.php
timetracker/WEB-INF/lib/I18n.class.php
timetracker/WEB-INF/lib/Period.class.php
timetracker/WEB-INF/lib/PieChartEx.class.php
timetracker/WEB-INF/lib/auth/Auth_db.class.php
timetracker/WEB-INF/lib/auth/Auth_ldap.class.php
timetracker/WEB-INF/lib/common.lib.php
timetracker/WEB-INF/lib/form/ActionErrors.class.php
timetracker/WEB-INF/lib/form/ActionForm.class.php
timetracker/WEB-INF/lib/form/Calendar.class.php
timetracker/WEB-INF/lib/form/Checkbox.class.php
timetracker/WEB-INF/lib/form/CheckboxCellRenderer.class.php
timetracker/WEB-INF/lib/form/CheckboxGroup.class.php
timetracker/WEB-INF/lib/form/Combobox.class.php
timetracker/WEB-INF/lib/form/DateField.class.php
timetracker/WEB-INF/lib/form/DefaultCellRenderer.class.php
timetracker/WEB-INF/lib/form/FloatField.class.php
timetracker/WEB-INF/lib/form/Form.class.php
timetracker/WEB-INF/lib/form/FormElement.class.php
timetracker/WEB-INF/lib/form/Hidden.class.php
timetracker/WEB-INF/lib/form/Submit.class.php
timetracker/WEB-INF/lib/form/Table.class.php
timetracker/WEB-INF/lib/form/TableColumn.class.php
timetracker/WEB-INF/lib/form/TextArea.class.php
timetracker/WEB-INF/lib/form/TextField.class.php
timetracker/WEB-INF/lib/form/UploadFile.class.php
timetracker/WEB-INF/lib/html/HttpRequest.class.php
timetracker/WEB-INF/lib/libchart/classes/libchart.php
timetracker/WEB-INF/lib/libchart/classes/model/DataSet.php
timetracker/WEB-INF/lib/libchart/classes/model/Point.php
timetracker/WEB-INF/lib/libchart/classes/model/XYDataSet.php
timetracker/WEB-INF/lib/libchart/classes/model/XYSeriesDataSet.php
timetracker/WEB-INF/lib/libchart/classes/view/axis/Axis.php
timetracker/WEB-INF/lib/libchart/classes/view/axis/Bound.php
timetracker/WEB-INF/lib/libchart/classes/view/caption/Caption.php
timetracker/WEB-INF/lib/libchart/classes/view/chart/BarChart.php
timetracker/WEB-INF/lib/libchart/classes/view/chart/Chart.php
timetracker/WEB-INF/lib/libchart/classes/view/chart/HorizontalBarChart.php
timetracker/WEB-INF/lib/libchart/classes/view/chart/LineChart.php
timetracker/WEB-INF/lib/libchart/classes/view/chart/PieChart.php
timetracker/WEB-INF/lib/libchart/classes/view/chart/VerticalBarChart.php
timetracker/WEB-INF/lib/libchart/classes/view/color/Color.php
timetracker/WEB-INF/lib/libchart/classes/view/color/ColorSet.php
timetracker/WEB-INF/lib/libchart/classes/view/color/Palette.php
timetracker/WEB-INF/lib/libchart/classes/view/plot/Plot.php
timetracker/WEB-INF/lib/libchart/classes/view/primitive/Padding.php
timetracker/WEB-INF/lib/libchart/classes/view/primitive/Primitive.php
timetracker/WEB-INF/lib/libchart/classes/view/primitive/Rectangle.php
timetracker/WEB-INF/lib/libchart/classes/view/text/Text.php
timetracker/WEB-INF/lib/libchart/fonts/DejaVuSansCondensed-Bold.ttf
timetracker/WEB-INF/lib/libchart/fonts/DejaVuSansCondensed.ttf
timetracker/WEB-INF/lib/mail/Mailer.class.php
timetracker/WEB-INF/lib/pear/INSTALL
timetracker/WEB-INF/lib/pear/LICENSE
timetracker/WEB-INF/lib/pear/MDB2.php
timetracker/WEB-INF/lib/pear/MDB2/Date.php
timetracker/WEB-INF/lib/pear/MDB2/Driver/Datatype/Common.php
timetracker/WEB-INF/lib/pear/MDB2/Driver/Datatype/mysql.php
timetracker/WEB-INF/lib/pear/MDB2/Driver/Datatype/mysqli.php
timetracker/WEB-INF/lib/pear/MDB2/Driver/Function/Common.php
timetracker/WEB-INF/lib/pear/MDB2/Driver/Function/mysql.php
timetracker/WEB-INF/lib/pear/MDB2/Driver/Function/mysqli.php
timetracker/WEB-INF/lib/pear/MDB2/Driver/Manager/Common.php
timetracker/WEB-INF/lib/pear/MDB2/Driver/Manager/mysql.php
timetracker/WEB-INF/lib/pear/MDB2/Driver/Manager/mysqli.php
timetracker/WEB-INF/lib/pear/MDB2/Driver/Native/Common.php
timetracker/WEB-INF/lib/pear/MDB2/Driver/Native/mysql.php
timetracker/WEB-INF/lib/pear/MDB2/Driver/Native/mysqli.php
timetracker/WEB-INF/lib/pear/MDB2/Driver/Reverse/Common.php
timetracker/WEB-INF/lib/pear/MDB2/Driver/Reverse/mysql.php
timetracker/WEB-INF/lib/pear/MDB2/Driver/Reverse/mysqli.php
timetracker/WEB-INF/lib/pear/MDB2/Driver/mysql.php
timetracker/WEB-INF/lib/pear/MDB2/Driver/mysqli.php
timetracker/WEB-INF/lib/pear/MDB2/Extended.php
timetracker/WEB-INF/lib/pear/MDB2/Iterator.php
timetracker/WEB-INF/lib/pear/MDB2/LOB.php
timetracker/WEB-INF/lib/pear/Mail.php
timetracker/WEB-INF/lib/pear/Mail/RFC822.php
timetracker/WEB-INF/lib/pear/Mail/mail.php
timetracker/WEB-INF/lib/pear/Mail/mock.php
timetracker/WEB-INF/lib/pear/Mail/null.php
timetracker/WEB-INF/lib/pear/Mail/sendmail.php
timetracker/WEB-INF/lib/pear/Mail/smtp.php
timetracker/WEB-INF/lib/pear/Mail/smtpmx.php
timetracker/WEB-INF/lib/pear/Net/SMTP.php
timetracker/WEB-INF/lib/pear/Net/Socket.php
timetracker/WEB-INF/lib/pear/OS/Guess.php
timetracker/WEB-INF/lib/pear/PEAR.php
timetracker/WEB-INF/lib/pear/PEAR/Autoloader.php
timetracker/WEB-INF/lib/pear/PEAR/Builder.php
timetracker/WEB-INF/lib/pear/PEAR/ChannelFile.php
timetracker/WEB-INF/lib/pear/PEAR/ChannelFile/Parser.php
timetracker/WEB-INF/lib/pear/PEAR/Command.php
timetracker/WEB-INF/lib/pear/PEAR/Command/Auth.php
timetracker/WEB-INF/lib/pear/PEAR/Command/Auth.xml
timetracker/WEB-INF/lib/pear/PEAR/Command/Build.php
timetracker/WEB-INF/lib/pear/PEAR/Command/Build.xml
timetracker/WEB-INF/lib/pear/PEAR/Command/Channels.php
timetracker/WEB-INF/lib/pear/PEAR/Command/Channels.xml
timetracker/WEB-INF/lib/pear/PEAR/Command/Common.php
timetracker/WEB-INF/lib/pear/PEAR/Command/Config.xml
timetracker/WEB-INF/lib/pear/PEAR/Command/Install.php
timetracker/WEB-INF/lib/pear/PEAR/Command/Install.xml
timetracker/WEB-INF/lib/pear/PEAR/Command/Mirror.php
timetracker/WEB-INF/lib/pear/PEAR/Command/Mirror.xml
timetracker/WEB-INF/lib/pear/PEAR/Command/Package.php
timetracker/WEB-INF/lib/pear/PEAR/Command/Package.xml
timetracker/WEB-INF/lib/pear/PEAR/Command/Pickle.php
timetracker/WEB-INF/lib/pear/PEAR/Command/Pickle.xml
timetracker/WEB-INF/lib/pear/PEAR/Command/Registry.php
timetracker/WEB-INF/lib/pear/PEAR/Command/Registry.xml
timetracker/WEB-INF/lib/pear/PEAR/Command/Remote.php
timetracker/WEB-INF/lib/pear/PEAR/Command/Remote.xml
timetracker/WEB-INF/lib/pear/PEAR/Command/Test.php
timetracker/WEB-INF/lib/pear/PEAR/Command/Test.xml
timetracker/WEB-INF/lib/pear/PEAR/Common.php
timetracker/WEB-INF/lib/pear/PEAR/Dependency2.php
timetracker/WEB-INF/lib/pear/PEAR/DependencyDB.php
timetracker/WEB-INF/lib/pear/PEAR/Downloader.php
timetracker/WEB-INF/lib/pear/PEAR/Downloader/Package.php
timetracker/WEB-INF/lib/pear/PEAR/ErrorStack.php
timetracker/WEB-INF/lib/pear/PEAR/Exception.php
timetracker/WEB-INF/lib/pear/PEAR/FixPHP5PEARWarnings.php
timetracker/WEB-INF/lib/pear/PEAR/Frontend.php
timetracker/WEB-INF/lib/pear/PEAR/Frontend/CLI.php
timetracker/WEB-INF/lib/pear/PEAR/Installer.php
timetracker/WEB-INF/lib/pear/PEAR/Installer/Role.php
timetracker/WEB-INF/lib/pear/PEAR/Installer/Role/Cfg.php
timetracker/WEB-INF/lib/pear/PEAR/Installer/Role/Cfg.xml
timetracker/WEB-INF/lib/pear/PEAR/Installer/Role/Common.php
timetracker/WEB-INF/lib/pear/PEAR/Installer/Role/Data.php
timetracker/WEB-INF/lib/pear/PEAR/Installer/Role/Data.xml
timetracker/WEB-INF/lib/pear/PEAR/Installer/Role/Doc.php
timetracker/WEB-INF/lib/pear/PEAR/Installer/Role/Doc.xml
timetracker/WEB-INF/lib/pear/PEAR/Installer/Role/Ext.php
timetracker/WEB-INF/lib/pear/PEAR/Installer/Role/Ext.xml
timetracker/WEB-INF/lib/pear/PEAR/Installer/Role/Php.php
timetracker/WEB-INF/lib/pear/PEAR/Installer/Role/Php.xml
timetracker/WEB-INF/lib/pear/PEAR/Installer/Role/Script.php
timetracker/WEB-INF/lib/pear/PEAR/Installer/Role/Script.xml
timetracker/WEB-INF/lib/pear/PEAR/Installer/Role/Src.php
timetracker/WEB-INF/lib/pear/PEAR/Installer/Role/Src.xml
timetracker/WEB-INF/lib/pear/PEAR/Installer/Role/Test.php
timetracker/WEB-INF/lib/pear/PEAR/Installer/Role/Test.xml
timetracker/WEB-INF/lib/pear/PEAR/Installer/Role/Www.php
timetracker/WEB-INF/lib/pear/PEAR/Installer/Role/Www.xml
timetracker/WEB-INF/lib/pear/PEAR/PackageFile.php
timetracker/WEB-INF/lib/pear/PEAR/PackageFile/Generator/v1.php
timetracker/WEB-INF/lib/pear/PEAR/PackageFile/Generator/v2.php
timetracker/WEB-INF/lib/pear/PEAR/PackageFile/Parser/v1.php
timetracker/WEB-INF/lib/pear/PEAR/PackageFile/Parser/v2.php
timetracker/WEB-INF/lib/pear/PEAR/PackageFile/v1.php
timetracker/WEB-INF/lib/pear/PEAR/PackageFile/v2.php
timetracker/WEB-INF/lib/pear/PEAR/PackageFile/v2/Validator.php
timetracker/WEB-INF/lib/pear/PEAR/PackageFile/v2/rw.php
timetracker/WEB-INF/lib/pear/PEAR/Packager.php
timetracker/WEB-INF/lib/pear/PEAR/REST.php
timetracker/WEB-INF/lib/pear/PEAR/REST/10.php
timetracker/WEB-INF/lib/pear/PEAR/REST/11.php
timetracker/WEB-INF/lib/pear/PEAR/REST/13.php
timetracker/WEB-INF/lib/pear/PEAR/Registry.php
timetracker/WEB-INF/lib/pear/PEAR/RunTest.php
timetracker/WEB-INF/lib/pear/PEAR/Task/Common.php
timetracker/WEB-INF/lib/pear/PEAR/Task/Postinstallscript.php
timetracker/WEB-INF/lib/pear/PEAR/Task/Postinstallscript/rw.php
timetracker/WEB-INF/lib/pear/PEAR/Task/Replace.php
timetracker/WEB-INF/lib/pear/PEAR/Task/Replace/rw.php
timetracker/WEB-INF/lib/pear/PEAR/Task/Unixeol.php
timetracker/WEB-INF/lib/pear/PEAR/Task/Unixeol/rw.php
timetracker/WEB-INF/lib/pear/PEAR/Task/Windowseol.php
timetracker/WEB-INF/lib/pear/PEAR/Task/Windowseol/rw.php
timetracker/WEB-INF/lib/pear/PEAR/Validate.php
timetracker/WEB-INF/lib/pear/PEAR/Validator/PECL.php
timetracker/WEB-INF/lib/pear/PEAR/XMLParser.php
timetracker/WEB-INF/lib/pear/PEAR5.php
timetracker/WEB-INF/lib/pear/README
timetracker/WEB-INF/lib/pear/System.php
timetracker/WEB-INF/lib/pear/package.dtd
timetracker/WEB-INF/lib/pear/readme_pear_integration.txt
timetracker/WEB-INF/lib/pear/scripts/pear.bat
timetracker/WEB-INF/lib/pear/scripts/pear.sh
timetracker/WEB-INF/lib/pear/scripts/pearcmd.php
timetracker/WEB-INF/lib/pear/scripts/peardev.bat
timetracker/WEB-INF/lib/pear/scripts/peardev.sh
timetracker/WEB-INF/lib/pear/scripts/pecl.bat
timetracker/WEB-INF/lib/pear/scripts/pecl.sh
timetracker/WEB-INF/lib/pear/scripts/peclcmd.php
timetracker/WEB-INF/lib/pear/template.spec
timetracker/WEB-INF/lib/smarty/Smarty.class.php
timetracker/WEB-INF/lib/smarty/debug.tpl
timetracker/WEB-INF/lib/smarty/plugins/block.php.php
timetracker/WEB-INF/lib/smarty/plugins/block.textformat.php
timetracker/WEB-INF/lib/smarty/plugins/function.counter.php
timetracker/WEB-INF/lib/smarty/plugins/function.cycle.php
timetracker/WEB-INF/lib/smarty/plugins/function.fetch.php
timetracker/WEB-INF/lib/smarty/plugins/function.html_checkboxes.php
timetracker/WEB-INF/lib/smarty/plugins/function.html_image.php
timetracker/WEB-INF/lib/smarty/plugins/function.html_options.php
timetracker/WEB-INF/lib/smarty/plugins/function.html_radios.php
timetracker/WEB-INF/lib/smarty/plugins/function.html_select_date.php
timetracker/WEB-INF/lib/smarty/plugins/function.html_select_time.php
timetracker/WEB-INF/lib/smarty/plugins/function.html_table.php
timetracker/WEB-INF/lib/smarty/plugins/function.mailto.php
timetracker/WEB-INF/lib/smarty/plugins/function.math.php
timetracker/WEB-INF/lib/smarty/plugins/modifier.capitalize.php
timetracker/WEB-INF/lib/smarty/plugins/modifier.date_format.php
timetracker/WEB-INF/lib/smarty/plugins/modifier.debug_print_var.php
timetracker/WEB-INF/lib/smarty/plugins/modifier.escape.php
timetracker/WEB-INF/lib/smarty/plugins/modifier.regex_replace.php
timetracker/WEB-INF/lib/smarty/plugins/modifier.replace.php
timetracker/WEB-INF/lib/smarty/plugins/modifier.spacify.php
timetracker/WEB-INF/lib/smarty/plugins/modifier.truncate.php
timetracker/WEB-INF/lib/smarty/plugins/modifiercompiler.cat.php
timetracker/WEB-INF/lib/smarty/plugins/modifiercompiler.count_characters.php
timetracker/WEB-INF/lib/smarty/plugins/modifiercompiler.count_paragraphs.php
timetracker/WEB-INF/lib/smarty/plugins/modifiercompiler.count_sentences.php
timetracker/WEB-INF/lib/smarty/plugins/modifiercompiler.count_words.php
timetracker/WEB-INF/lib/smarty/plugins/modifiercompiler.default.php
timetracker/WEB-INF/lib/smarty/plugins/modifiercompiler.indent.php
timetracker/WEB-INF/lib/smarty/plugins/modifiercompiler.lower.php
timetracker/WEB-INF/lib/smarty/plugins/modifiercompiler.noprint.php
timetracker/WEB-INF/lib/smarty/plugins/modifiercompiler.string_format.php
timetracker/WEB-INF/lib/smarty/plugins/modifiercompiler.strip.php
timetracker/WEB-INF/lib/smarty/plugins/modifiercompiler.strip_tags.php
timetracker/WEB-INF/lib/smarty/plugins/modifiercompiler.upper.php
timetracker/WEB-INF/lib/smarty/plugins/modifiercompiler.wordwrap.php
timetracker/WEB-INF/lib/smarty/plugins/outputfilter.trimwhitespace.php
timetracker/WEB-INF/lib/smarty/plugins/shared.escape_special_chars.php
timetracker/WEB-INF/lib/smarty/plugins/shared.make_timestamp.php
timetracker/WEB-INF/lib/smarty/plugins/shared.mb_str_replace.php
timetracker/WEB-INF/lib/smarty/plugins/variablefilter.htmlspecialchars.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_cacheresource_file.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_append.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_assign.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_block.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_break.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_call.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_capture.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_config_load.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_continue.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_debug.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_eval.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_extends.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_for.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_foreach.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_function.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_if.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_include.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_include_php.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_insert.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_ldelim.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_nocache.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_private_block_plugin.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_private_function_plugin.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_private_modifier.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_private_object_block_function.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_private_object_function.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_private_print_expression.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_private_registered_block.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_private_registered_function.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_private_special_variable.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_rdelim.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_section.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compile_while.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_compilebase.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_config.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_config_file_compiler.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_configfilelexer.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_configfileparser.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_data.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_debug.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_filter.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_filter_handler.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_function_call_handler.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_get_include_path.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_nocache_insert.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_parsetree.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_register.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_resource_eval.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_resource_extends.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_resource_file.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_resource_php.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_resource_registered.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_resource_stream.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_resource_string.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_smartytemplatecompiler.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_template.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_templatecompilerbase.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_templatelexer.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_templateparser.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_utility.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_wrapper.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_internal_write_file.php
timetracker/WEB-INF/lib/smarty/sysplugins/smarty_security.php
timetracker/WEB-INF/lib/tdcron/class.tdcron.entry.php
timetracker/WEB-INF/lib/tdcron/class.tdcron.php
timetracker/WEB-INF/lib/ttChartHelper.class.php
timetracker/WEB-INF/lib/ttClientHelper.class.php
timetracker/WEB-INF/lib/ttCustomFieldHelper.class.php
timetracker/WEB-INF/lib/ttExpenseHelper.class.php
timetracker/WEB-INF/lib/ttExportHelper.class.php
timetracker/WEB-INF/lib/ttFavReportHelper.class.php
timetracker/WEB-INF/lib/ttImportHelper.class.php
timetracker/WEB-INF/lib/ttInvoiceHelper.class.php
timetracker/WEB-INF/lib/ttNotificationHelper.class.php
timetracker/WEB-INF/lib/ttProjectHelper.class.php
timetracker/WEB-INF/lib/ttReportHelper.class.php
timetracker/WEB-INF/lib/ttSysConfig.class.php
timetracker/WEB-INF/lib/ttTaskHelper.class.php
timetracker/WEB-INF/lib/ttTeamHelper.class.php
timetracker/WEB-INF/lib/ttTimeHelper.class.php
timetracker/WEB-INF/lib/ttUser.class.php
timetracker/WEB-INF/lib/ttUserHelper.class.php
timetracker/WEB-INF/resources/ca.lang.php
timetracker/WEB-INF/resources/cs.lang.php
timetracker/WEB-INF/resources/da.lang.php
timetracker/WEB-INF/resources/de.lang.php
timetracker/WEB-INF/resources/en.lang.php
timetracker/WEB-INF/resources/es.lang.php
timetracker/WEB-INF/resources/et.lang.php
timetracker/WEB-INF/resources/fa.lang.php
timetracker/WEB-INF/resources/fi.lang.php
timetracker/WEB-INF/resources/fr.lang.php
timetracker/WEB-INF/resources/he.lang.php
timetracker/WEB-INF/resources/hu.lang.php
timetracker/WEB-INF/resources/it.lang.php
timetracker/WEB-INF/resources/ja.lang.php
timetracker/WEB-INF/resources/ko.lang.php
timetracker/WEB-INF/resources/nl.lang.php
timetracker/WEB-INF/resources/no.lang.php
timetracker/WEB-INF/resources/pl.lang.php
timetracker/WEB-INF/resources/pt-br.lang.php
timetracker/WEB-INF/resources/pt.lang.php
timetracker/WEB-INF/resources/ro.lang.php
timetracker/WEB-INF/resources/ru.lang.php
timetracker/WEB-INF/resources/sk.lang.php
timetracker/WEB-INF/resources/sl.lang.php
timetracker/WEB-INF/resources/sr.lang.php
timetracker/WEB-INF/resources/sv.lang.php
timetracker/WEB-INF/resources/tr.lang.php
timetracker/WEB-INF/resources/zh-cn.lang.php
timetracker/WEB-INF/resources/zh-tw.lang.php
timetracker/WEB-INF/templates/access_denied.tpl
timetracker/WEB-INF/templates/admin_options.tpl
timetracker/WEB-INF/templates/admin_team_add.tpl
timetracker/WEB-INF/templates/admin_team_delete.tpl
timetracker/WEB-INF/templates/admin_team_edit.tpl
timetracker/WEB-INF/templates/admin_teams.tpl
timetracker/WEB-INF/templates/cf_custom_field_add.tpl
timetracker/WEB-INF/templates/cf_custom_field_delete.tpl
timetracker/WEB-INF/templates/cf_custom_field_edit.tpl
timetracker/WEB-INF/templates/cf_custom_fields.tpl
timetracker/WEB-INF/templates/cf_dropdown_option_add.tpl
timetracker/WEB-INF/templates/cf_dropdown_option_delete.tpl
timetracker/WEB-INF/templates/cf_dropdown_option_edit.tpl
timetracker/WEB-INF/templates/cf_dropdown_options.tpl
timetracker/WEB-INF/templates/charts.tpl
timetracker/WEB-INF/templates/client_add.tpl
timetracker/WEB-INF/templates/client_delete.tpl
timetracker/WEB-INF/templates/client_edit.tpl
timetracker/WEB-INF/templates/clients.tpl
timetracker/WEB-INF/templates/datetime_format_preview.tpl
timetracker/WEB-INF/templates/expense_delete.tpl
timetracker/WEB-INF/templates/expense_edit.tpl
timetracker/WEB-INF/templates/expenses.tpl
timetracker/WEB-INF/templates/export.tpl
timetracker/WEB-INF/templates/footer.tpl
timetracker/WEB-INF/templates/header.tpl
timetracker/WEB-INF/templates/import.tpl
timetracker/WEB-INF/templates/index.tpl
timetracker/WEB-INF/templates/invoice_add.tpl
timetracker/WEB-INF/templates/invoice_delete.tpl
timetracker/WEB-INF/templates/invoice_view.tpl
timetracker/WEB-INF/templates/invoices.tpl
timetracker/WEB-INF/templates/locking.tpl
timetracker/WEB-INF/templates/login.db.tpl
timetracker/WEB-INF/templates/login.ldap.tpl
timetracker/WEB-INF/templates/login.tpl
timetracker/WEB-INF/templates/mail.tpl
timetracker/WEB-INF/templates/mobile/access_denied.tpl
timetracker/WEB-INF/templates/mobile/header.tpl
timetracker/WEB-INF/templates/mobile/index.tpl
timetracker/WEB-INF/templates/mobile/login.db.tpl
timetracker/WEB-INF/templates/mobile/login.ldap.tpl
timetracker/WEB-INF/templates/mobile/login.tpl
timetracker/WEB-INF/templates/mobile/time.tpl
timetracker/WEB-INF/templates/mobile/time_delete.tpl
timetracker/WEB-INF/templates/mobile/time_edit.tpl
timetracker/WEB-INF/templates/mobile/timer.tpl
timetracker/WEB-INF/templates/notification_add.tpl
timetracker/WEB-INF/templates/notification_delete.tpl
timetracker/WEB-INF/templates/notification_edit.tpl
timetracker/WEB-INF/templates/notifications.tpl
timetracker/WEB-INF/templates/password_change.tpl
timetracker/WEB-INF/templates/password_reset.tpl
timetracker/WEB-INF/templates/profile_edit.tpl
timetracker/WEB-INF/templates/project_add.tpl
timetracker/WEB-INF/templates/project_delete.tpl
timetracker/WEB-INF/templates/project_edit.tpl
timetracker/WEB-INF/templates/projects.tpl
timetracker/WEB-INF/templates/register.tpl
timetracker/WEB-INF/templates/report.tpl
timetracker/WEB-INF/templates/reports.tpl
timetracker/WEB-INF/templates/task_add.tpl
timetracker/WEB-INF/templates/task_delete.tpl
timetracker/WEB-INF/templates/task_edit.tpl
timetracker/WEB-INF/templates/tasks.tpl
timetracker/WEB-INF/templates/time.tpl
timetracker/WEB-INF/templates/time_delete.tpl
timetracker/WEB-INF/templates/time_edit.tpl
timetracker/WEB-INF/templates/user_add.tpl
timetracker/WEB-INF/templates/user_delete.tpl
timetracker/WEB-INF/templates/user_edit.tpl
timetracker/WEB-INF/templates/users.tpl
timetracker/WEB-INF/templates_c/keepme
timetracker/access_denied.php
timetracker/admin_options.php
timetracker/admin_team_add.php
timetracker/admin_team_delete.php
timetracker/admin_team_edit.php
timetracker/admin_teams.php
timetracker/cf_custom_field_add.php
timetracker/cf_custom_field_delete.php
timetracker/cf_custom_field_edit.php
timetracker/cf_custom_fields.php
timetracker/cf_dropdown_option_add.php
timetracker/cf_dropdown_option_delete.php
timetracker/cf_dropdown_option_edit.php
timetracker/cf_dropdown_options.php
timetracker/charts.php
timetracker/client_add.php
timetracker/client_delete.php
timetracker/client_edit.php
timetracker/clients.php
timetracker/cron.php
timetracker/default.css
timetracker/expense_delete.php
timetracker/expense_edit.php
timetracker/expenses.php
timetracker/export.php
timetracker/favicon.ico
timetracker/images/1x1.gif
timetracker/images/calendar.gif
timetracker/images/stock-photo-hand-t1.jpg
timetracker/images/subm_bg.gif
timetracker/images/t11.png
timetracker/images/t3.png
timetracker/images/time1.jpg
timetracker/images/top_bg.gif
timetracker/images/tt_logo.png
timetracker/import.php
timetracker/index.php
timetracker/initialize.php
timetracker/invoice_add.php
timetracker/invoice_delete.php
timetracker/invoice_send.php
timetracker/invoice_view.php
timetracker/invoices.php
timetracker/js/strftime.js
timetracker/js/strptime.js
timetracker/license.txt
timetracker/locking.php
timetracker/login.php
timetracker/logout.php
timetracker/mobile/access_denied.php
timetracker/mobile/index.php
timetracker/mobile/login.php
timetracker/mobile/time.php
timetracker/mobile/time_delete.php
timetracker/mobile/time_edit.php
timetracker/mobile/timer.php
timetracker/mysql.sql
timetracker/notification_add.php
timetracker/notification_delete.php
timetracker/notification_edit.php
timetracker/notifications.php
timetracker/password_change.php
timetracker/password_reset.php
timetracker/phpinfo.php
timetracker/plugins/CustomFields.class.php
timetracker/profile_edit.php
timetracker/project_add.php
timetracker/project_delete.php
timetracker/project_edit.php
timetracker/projects.php
timetracker/readme.txt
timetracker/register.php
timetracker/report.php
timetracker/report_send.php
timetracker/reports.php
timetracker/rtl.css
timetracker/task_add.php
timetracker/task_delete.php
timetracker/task_edit.php
timetracker/tasks.php
timetracker/time.php
timetracker/time_delete.php
timetracker/time_edit.php
timetracker/tofile.php
timetracker/topdf.php
timetracker/user_add.php
timetracker/user_delete.php
timetracker/user_edit.php
timetracker/users.php
