/*start header*/
.f-nav {
    position: fixed !important;
}

@media (max-width: 768px) {
    .f-nav {
        position: inherit !important;
    }

    .main-nav .nav li a {
        border: none;
    }
}

.f-nav .logo-area {
    padding: 3px 0;
}

.f-nav .logo-area .logo img {
    max-width: 35px;
    margin-right: 10px;
}

#header.f-nav {
    padding-top: 5px;
    padding-bottom: 5px;
}

#header.f-nav .logo-area .logo-title {
    font-size: 16px;
}

.f-nav .admin-title {
    display: none;
}

#header .logo-area .logo-title {
    color: #333;
    margin: 0;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase !important;
    font-weight: bold;
    letter-spacing: -1px;
}

#header {
    height: 50px;
    max-height: 50px;
    border: none;
    background-color: #187bb2;
    position: relative;
    padding: 10px 0;
    margin-bottom: 0 !important;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(153,150,153,0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(153,150,153,0.75);
    box-shadow: 0px 4px 5px 0px rgba(153,150,153,0.75);
}

#header .main-header {
    width: 100%;
    display: table;
    vertical-align: middle;
}

#header .main-header .logo-area, #header .main-header .auth-area {
    display: table-cell;
    width: 50%;
}

.logo-block {
    display: block;
    float: left;
}

.logo-block a, .logo-block span {
    display: inline-block;
}

.logo-block a {
    color: #fff !important;
    font-size: 1.2em;
    margin-right: 15px;
}

#header #mail {
    padding: 3px 20px;
}

#header #mail .nav-title {
    position: relative;
}

#mail .navcount.unreadmessagecount {
    top: -5px;
    right: -20px;
}

#header .top-right-nav .icon {
    width: 20px;
}

.top-menu {
    overflow: hidden;
}

.top-menu a {
    float: left;

    font-size: 13px;
    font-weight: 500;
    text-decoration: none;

    color: #8895a7;
}

.top-menu ul a:hover, .top-menu ul .active a, .posts .items li:first-child h2 a:hover, p a:hover {
    color: #4171b1;
}

.top-menu ul {
    list-style: none;
    float: left;
}

.top-menu ul li {
    float: left;
    padding-left: 5px;
}

.top-menu ul a {
    display: inline-block;
    color: #555f6d;
}

.top-menu ul img {
    display: inline-block;
    vertical-align: middle;

    position: relative;
    top: -2px;

    width: 16px;
    height: 16px;

    opacity: .4;
}

.top-menu ul a:hover img {
    opacity: .7;
}

.top-menu ul a.active img {
    opacity: 1;
}

/*menu home*/
#main-nav {
    background-color: #fff;
}

#main-nav .bhxh-nav-home {
    border-bottom: solid 1px #126f9a;
    margin: 0;
}

#main-nav .bhxh-nav-home a, #main-nav .navbar-link {
    color: #126f9a;
}

#main-nav .bhxh-nav-home a:hover {
    color: #fff;
    background-color: #126f9a;
}

#main-nav .bhxh-nav-home .active > a {
    background-color: #126f9a;
    color: #fff;
}

/*end menu home */

.li-square > a {
    border-radius: 0 !important;
}

/*end header*/

/*footer*/
#footer {
    background: #187bb2;
    color: #fff;
}

#footer .footer-inner {
    padding: 0;
    display: table;
    vertical-align: middle;
    width: 100%;
}

#footer .footer-inner .left-footer, #footer .footer-inner .right-footer {
    display: table-cell;
    width: 50%;
}
#footer .footer-inner .right-footer {
    text-align: right;
    color: #c3c3c3;
}

#footer .footer-inner .right-footer a {
    color: #ddd;
}


#footer #powered-by .main-footer {
    display: table;
}

#footer #powered-by .main-footer a, #footer #powered-by .main-footer h2 {
    display: table-cell;
    width: auto;
}

#footer .school-name {
    text-transform: uppercase!important;
    font-weight: bold;
    font-size: 17px;
    padding-left: 15px;
}

#footer .footer-nav li > a {
    padding: 0 10px 0 10px;
    color: #eee;
    font-size: 14px;
    border-right: #ddd solid 1px;
}

#footer .footer-nav li:last-child > a {
    border-right: none;
}

#footer .footer-nav li > a:hover, #footer .footer-nav li > a:visited {
    background: none;
    text-decoration: underline;
}

#footer .footer-inner {
    margin: 15px 0;
    background: none;
    border: none;
}

.footer-nav > li > a {
    border-radius: 0;
}

.el-sidebar-heading {
    margin-top: 9px;
    padding-bottom: 6px;
    text-transform: uppercase;
    color: #777;
    text-align: left;
    border-bottom: solid 1px #ddd;
    font-size: 20px;
    font-weight: 500;
}

.col-md-3 {
    background: #ececec;

}

ul.logon-block, ul.logon-block li {
    list-style: none;
    list-style-type: none;
}

ul.logon-block {
    display: table;
    position: relative;
}

ul.logon-block > li {
    display: table-cell;
    vertical-align: middle;
}

ul.logon-block > li.username {
    color: #fff;
}

ul.logon-block > li.divided {
    color: #ddd;
    padding-left: 15px;
    padding-right: 15px;
}

ul.logon-block > li.username > a {
    font-weight: 600;
    color: #fff;
}

ul.logon-block > li.logout > a {
    color: #fff;
}

.highlight, .status {
    /*background: #e2e5eb;*/
    background: rgba(129, 145, 171, .2);
    color: #555;
    font-size: 10px;
    line-height: 14px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    padding: 3px 6px;
    border-radius: 3px;
    /* position: absolute; */
    right: 30px;
    top: 30px;
    margin-left: 27px;
}

ul.list-post {
    font-size: 12px;
    line-height: 20px;
    list-style-type: none;
    color: #777;
    /* padding-left: 15px; */
}

i.fa.fa-calendar {
    margin-right: 5px;
}

ul.main.list {
    list-style-type: none;
    padding-bottom: 11px;
    padding-top: 7px;
}

i.fa.fa-sign-in {
    margin-right: 5px;
    font-size: 18px;
}

article.wrap.coursebox {
    border-bottom: dotted 1px #ddd;
    padding: 11px 1px;
}

.right-block.col-md-3.block-search {
    /* background: #ececec; */
    /* padding-right: 0px; */
    padding-left: 12px;
    margin-bottom: 9px;
}

button.search-btn {
    -webkit-appearance: button;
    cursor: pointer;
    padding: 2px 11px;
    border-radius: 27px;
    font-size: 13px;
    background: #187bb2;
    font-weight: bold !important;
    color: #fff;
    text-shadow: none;
    border: 0px;
    margin-top: 2px;
}

.right-block.col-md-3.block-search.search-post {
    margin-top: 52px;
    float: right;
}

/*end footer*/
/*help*/
.bhxh-table {
    display: table
}

.bhxh-tr {
    display: table-row
}

.bhxh-thead {
    display: table-header-group
}

.bhxh-tbody {
    display: table-row-group
}

.bhxh-tfoot {
    display: table-footer-group
}

.bhxh-col {
    display: table-column
}

.bhxh-colgroup {
    display: table-column-group
}

.bhxh-td, th {
    display: table-cell
}

.bhxh-caption {
    display: table-caption
}

.no-padding {
    padding: 0;
    margin: 0;
}

.mb10 {
    margin-bottom: 10px;
}

/*table sort*/
.sort-table .header::after {
    float: right;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0dc";
}

.headerSortDown, .headerSortUp {

}

.sort-table .headerSortDown::after {
    float: right;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0dd";
}

.sort-table .headerSortUp::after {
    float: right;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0de";
}

ul.mnu-lst, ul.mnu-lst li {
    list-style: none;
    list-style-type: none;
}

ul.mnu-lst li {
    display: block;
    padding: 5px 0;
    border-bottom: dotted 1px #eee;
}

ul.mnu-lst li:last-child {
    border-bottom: none;
}

#main_menu {
    background-color: #e2e2e2;
}

#main_menu .panel-default .panel-heading {
    background-color: transparent;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(184, 180, 184, 1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(184, 180, 184, 1);
    box-shadow: 0px 1px 0px 0px rgba(184, 180, 184, 1);
}

.main-body {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 600px;
}

.main-body #main_menu, .main-body #main_content {
    display: table-cell;
    vertical-align: top;
}

#main_menu .panel-group .panel {
    border-radius: 0;
}

#main_menu .panel-default {
    border-color: transparent;
}

#main_menu .panel {
    background-color: transparent;
    box-shadow: none;
}

.expanded-menu {
    padding: 15px 0;
    font-size: 16px;
}

.expanded-menu #expand_menu {
    border: solid 1px #187bb2;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    float: right;
    text-align: center;
    line-height: 30px;
    color: #187bb2 !important;
}

.collapse-menu {
    background-color: #f5f5f5;
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    z-index: 999;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    font-size: 18px;
    text-align: center;
}

.adm-table > thead > tr > th {
    text-align: center;
    border-width: 1px;
    border-color: #187bb2;
}

.adm-table tr:focus, .adm-table tr:hover {
    cursor: pointer;
}

#main_content .breadcrumb {
    padding-left: 0;
}

@media only screen and (min-width: 992px) {
    .main-body #main_menu, .main-body #main_content {
        float: none !important;
    }

    #main_content {
        padding: 20px;
    }
}
