/*start header*/
.f-nav {
    position: fixed !important;
}
@media (max-width: 768px) {
    .f-nav {
        position: inherit !important;
    }
    .main-nav .nav li a {
        border: none;
    }
}

.f-nav .logo-area {
    padding: 3px 0;
}
.f-nav .logo-area .logo img {
    max-width: 35px;
    margin-right: 10px;
}
#header.f-nav {
    padding-top: 5px;
    padding-bottom: 5px;
}
#header.f-nav .logo-area .logo-title {
    font-size: 16px;
}
.f-nav .admin-title {
    display: none;
}
#header .logo-area .logo-title {
    color: #333;
    margin: 0;
    font-size: 18px;
}
#header {
    border: none;
    background-color: #fff;
    position: relative;
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #e8e3e3;
}
#header a {
    color: #333;
}

.logo-area .logo {
    margin-right: 0;
}
.logo-area .logo img {
    max-width: 76px;
    max-height: none;
    margin-right: 10px;
}
#header #mail {
    padding: 3px 20px;
}
#header #mail .nav-title {
    position: relative;
}
#mail .navcount.unreadmessagecount {
    top: -5px;
    right: -20px;
}
#header .top-right-nav .icon {
    width: 20px;
}

.top-menu {
    overflow: hidden;
}
.top-menu a {
    float: left;

    font-size: 13px;
    font-weight: 500;
    text-decoration: none;

    color: #8895a7;
}
.top-menu ul a:hover, .top-menu ul .active a, .posts .items li:first-child h2 a:hover, p a:hover {
    color: #4171b1;
}
.top-menu ul {
    list-style: none;
    float: left;
}
.top-menu ul li {
    float: left;
    padding-left: 5px;
}
.top-menu ul a {
    display: inline-block;
    color: #555f6d;
}
.top-menu ul img {
    display: inline-block;
    vertical-align: middle;

    position: relative;
    top: -2px;

    width: 16px;
    height: 16px;

    opacity: .4;
}
.top-menu ul a:hover img {
    opacity: .7;
}
.top-menu ul a.active img {
    opacity: 1;
}


/*menu home*/
#main-nav {
    background-color: #fff;
}
#main-nav .bhxh-nav-home {
    border-bottom: solid 1px #126f9a;
    margin: 0;
}
#main-nav .bhxh-nav-home a, #main-nav .navbar-link {
    color: #126f9a ;
}
#main-nav .bhxh-nav-home a:hover {
    color: #fff;
    background-color: #126f9a;
}
#main-nav .bhxh-nav-home .active > a {
    background-color: #126f9a;
    color: #fff;
}
/*end menu home */

.li-square > a {
    border-radius: 0 !important;
}
/*end header*/

/*footer*/
#footer {
    background: #187bb2;
    color: #fff;
    padding: 20px 0;
    margin-top: 20px;
}
#footer .footer-inner{
    padding: 0;
}
#footer .mahara-logo {
    padding-top: 20px;
}
#footer a {
    color: #fff;
}

.logo-area .logo-section {
    vertical-align: middle;
}
.logo-area .logo-title {
    color: #fff;
    font-size: 16px;
    padding: 0;
}

#footer .footer-nav li > a {
    padding: 0 10px 0 10px;
    color: #eee;
    font-size: 14px;
    border-right: #ddd solid 1px;
}
#footer .footer-nav li:last-child > a{
    border-right: none;
}
#footer .footer-nav li > a:hover, #footer .footer-nav li > a:visited {
    background: none ;
    text-decoration: underline;
}
#footer .footer-inner {
    margin: 15px 0;
    background: none;
    border: none;
}
.footer-nav > li > a {
    border-radius: 0;
}

.el-sidebar-heading {
    margin-top: 9px;
    padding-bottom: 6px;
    text-transform: uppercase;
    color: #777;
    text-align: left;
    border-bottom: solid 1px #ddd;
    font-size: 20px;
    font-weight: 500;
}
.col-md-3 {
    background: #ececec;

}
ul.nav.nav-pills {
    /*background: #e2e8ec;*/
    color: #d2d6d9;
    text-shadow: 1px 0px 0px rgba(255,255,255, .9);
    margin-right: 50px;
    margin-top: 15px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 12px 15px;
}

.highlight, .status {
    /*background: #e2e5eb;*/
    background: rgba(129,145,171,.2);
    color: #555;
    font-size: 10px;
    line-height: 14px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    padding: 3px 6px;
    border-radius: 3px;
    /* position: absolute; */
    right: 30px;
    top: 30px;
    margin-left: 27px;
}
ul.list-post {
    font-size: 12px;
    line-height: 20px;
    list-style-type: none;
    color: #777;
    /* padding-left: 15px; */
}
i.fa.fa-calendar {
    margin-right: 5px;
}
ul.main.list {
    list-style-type: none;
    padding-bottom: 11px;
    padding-top: 7px;
}
i.fa.fa-sign-in {
    margin-right: 5px;
    font-size: 18px;
}
article.wrap.coursebox {
    border-bottom: dotted 1px #ddd;
    padding: 11px 1px;
}
.right-block.col-md-3.block-search {
    /* background: #ececec; */
    /* padding-right: 0px; */
    padding-left: 12px;
    margin-bottom: 9px;
}
input.search-btn {
    padding: 1px 6px;
    -webkit-appearance: button;
    cursor: pointer;
    padding: 2px 11px;
    border-radius: 27px;
    font-size: 13px;
    background: #187bb2;
    font-weight: bold !important;
    color: #fff;
    text-shadow: none;
    border: 0px;
    margin-top: 2px;

}


/*end footer*/
/*help*/
.bhxh-table    { display: table }
.bhxh-tr       { display: table-row }
.bhxh-thead    { display: table-header-group }
.bhxh-tbody    { display: table-row-group }
.bhxh-tfoot    { display: table-footer-group }
.bhxh-col      { display: table-column }
.bhxh-colgroup { display: table-column-group }
.bhxh-td, th   { display: table-cell }
.bhxh-caption  { display: table-caption }
.no-padding    { padding: 0; margin: 0; }
.mb10 {
    margin-bottom: 10px;
}

/*table sort*/
.sort-table .header::after {
    float: right;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0dc";
}
.headerSortDown, .headerSortUp {

}
.sort-table .headerSortDown::after {
    float: right;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0dd";
}

.sort-table .headerSortUp::after {
    float: right;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0de";
}